<div class="layout">
<%- include('partials/header.ejs') %>

<section class="hero">
    <div class="overlay">
        <div class="hero-content">
            <div class="content">
            <h1>Your Next Favorite Recipe Awaits!</h1>
            <p>Explore thousands of recipes tailored to your taste. Whether you're craving something quick, healthy, or indulgent, we’ve got the perfect dish for you.</p>
            <p><strong>Just SEARCH. COOK. ENJOY.</strong></p>
            <div class="btn-div">
            <a class="hero-button" href="/search">Search Recipes</a>
            <a class="hero-button" href="/saved-recipes">Saved Recipes</a>
            </div>
            </div>
            <div class="hero-image">
                <img src="/images/hero-img.jpg" alt="spices">
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.ejs') %>
</div>